@import url("_editor_button_styles.css");

.card {
	font-family: sans-serif;
	font-size: 10px;
	text-align: center;
	color: black;
	background: #FCFAF2;
}

.box {
    background: #FCFAF2;
	padding: 20px;
	border-radius: 10px;
	color: black;
    opacity: 1;
    pointer-events: auto;
}

.question{
    font-size: 35px;
    font-weight: 600;
	padding-bottom: 20px;
}

. mobile .question{
    font-size: 25px;
}

.optionList{
	width: 100%;
    display: flex;
	flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
}

.optionList > div {
	flex-basis: 40%;
}

.optionList .option{
	background: #FCFAF2;
    color: #292A2E;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    padding: 18px 25px;
	margin-bottom: 20px;
    border: 2px solid #DCDCDC;
    box-shadow: #DCDCDC 0px 4px 0px;
    cursor: pointer;
    transition: opacity 200ms cubic-bezier(0, 1, 0.75, 1) 0s, color 0.2s ease-in-out 0.1s;
}

.optionList .option:hover{
	box-shadow: #DCDCDC 0px 8px 0px;
	transform: translateY(-4px);
}

.optionList .option.selected{
	background: #edeae1;
	box-shadow: #DCDCDC 0px 8px 0px;
	transform: translateY(-4px);
}

.optionList .option.correct{
	background: rgb(157, 227, 211);
	color: rgb(77, 122, 113);
	border: 2px solid rgb(0, 165, 122);
    box-shadow: rgb(0 165 122) 0px 4px 0px;
}

.optionList .option.incorrect{
	background: rgb(248, 212, 213);
	color: rgb(146, 82, 84);
	border: 2px solid rgb(231, 105, 107);
    box-shadow: rgb(231 105 107) 0px 4px 0px;
}

.optionList .option.missed{
	background: #f9ffc3;
	color: #997f00;
	border: 2px solid #997f00;
    box-shadow: #997f00 0px 4px 0px;
}