
img { 
	display: block; 
	height:auto;
	width: 200vw;
	border-radius: 10px; 
	margin-left: auto; 
	margin-right: auto; 
/*
-webkit-transform: scale(1.1); 
   -ms-transition: all 200ms ease-in; 
   -ms-transform: scale(1.1);    
   -moz-transition: all 200ms ease-in; 
   -moz-transform: scale(1.1); 
   transition: all 10ms ease-in; 
   transform: scale(1.1);
*/
} 

img:hover{ 
  -webkit-transform: scale(1.0); 
   -ms-transition: all 200ms ease-in; 
   -ms-transform: scale(1.2);    
   -moz-transition: all 200ms ease-in; 
   -moz-transform: scale(1.2); 
   transition: all 200ms ease-in; 
   transform: scale(1.2); 
} 

/* in note image occlusion must reset the margin to 0 */ 
.mobile img { 
	display: block; 
	width: auto; 
	height: auto; 
	max-width: 100%; 
	max-height: none; 
	margin-left: auto; 
	margin: 10px auto 10px auto;  
	border-radius: 10px; 
} 
