.box {
  padding: 0 1em 0 1em;
  /* Change last number background to change Transparency*/
  background: var(--box-bg);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  //-------------------------------------
  max-width: 900px;
  min-height:100px;
}
.nightMode .box {
  background: var(--box-bg-night);
  box-shadow: 10px 10px 44px 0px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(3.5px) ;
  -webkit-backdrop-filter: blur(3px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.nightMode legend {
  color: var(--legend-bg-night);
  background: #ea999c;

}
legend { 
	padding: 0px 10px 0px 10px;
	font-family: proxima;
	background: #e7625a;
	color: var(--legend-bg);
  min-width: 25vw;
  font-size: var(--legend-font-size);
  border-radius: 7px;
}

