
/* icon and llustration */
#complete {
	display:initial;
	width: 15%;
	position: relative;
	left: calc(50% - 3vw);
	top: 0 ;
}
.nightMode #complete {
	display: none;
}
#welcome {
	width:15%;
	position: relative;
	right: calc(50% - 3vw);
	top:0;
	display:none;
}
.nightMode #welcome {
	display:initial;
}
#bread {
	position: absolute;
	width: 40px;
	left:calc(5px + 3vw);
	top: -4px;
	display: initial;
}

