[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kai/Desktop/setup-git.sh]
row=0
col=3

[/home/kai/Desktop/custome-xfce.sh]
row=0
col=5

[/home/kai/Desktop/setup-repo.sh]
row=0
col=4

[Trash]
row=0
col=2

[/]
row=0
col=0

[/home/kai]
row=0
col=1

